    <div>
        <div>
            <div class="card" style="width: 100vw;">
                <div class="card-body">
                   <h2 class="card-title" style="text-align: center;">{{{blog.dataValues.title}}}</h5>
                   <p class="card-text style="text-align: center;"">By: {{{blog.dataValues.user.dataValues.username}}}</p>
                    <p class="card-text">{{{blog.dataValues.content}}}</p>
                </div>
            </div>
        </div>