<section class="vw-100">
  <div class="container py-5">
    <div class="align-items-center justify-content-center h-100">
      <div class="col-md-8 col-lg-7 col-xl-6">
      </div>
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-4">
                <label class="form-label" for="blog-title">Title:</label>
            <input type="text" id="blog-title" class="form-control form-control-lg" required />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
             <label class="form-label" for="blog-description">Description:</label>
            <input type="text" id="blog-description" class="form-control form-control-lg" required/>
          </div>

          <div class="form-outline mb04">
            <label class="form-label" for="blog-content">Content:</label>
            <textarea id="blog-content" class="form-control form-control-lg" style="resize: none; font-size: 1rem; height: 30vh; line-height: 2rem" required></textarea>
          </div>

          <button id="create-Btn" class="mx-auto p-2 btn btn-primary btn-lg btn-block" style="width: 100%">Create Post</button>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="/create.js"></script>